.eventList-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 0.5rem; 
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: #9FB6CD;
  color: #006B54;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  text-align: left;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

button:hover,
button:active,
.active {
  background-color: transparent;
  color: #e6dfec;
  border: 1px solid #9FB6CD;
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: normal;
}
p{
  align-items: center;
  text-align: center;
}
button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.icon-right {
  margin-left: auto; 
}